.footer {
}

.footer__list {
}
.footer__item {
}
.title {
    color: #131313;
text-align: center;
font-size: 12px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0.48px;
border-radius: 4px;
background-color: #F8D24E;
}
.location {
    color: #131313;
font-size: 12px;
font-weight: 500;
line-height: 186%;
letter-spacing: 0.48px;
}
.exact_location {
    color: #D6936D;
font-size: 12px;
font-weight: 500;
line-height: 183%;
letter-spacing: 0.48px;
}
.days {
}
.time {
}
.footer__link {
}
.our__location {
}
.franchise {
}
.homemade {
}
.passion {
}
.footer__icons-list {
}
.footer__icons-item {
}
.footer__icons-link {
}
.svg__icons {
}
.contact {
}
.footer__colored {
}
.reserved {
}