.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #84a178;
  padding-top: 12px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo__ice {
  width: 40px;
  height: 37px;
}

.header__nav {
  display: none;
}

.header__burger__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.header__burger__button__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
}

.header__button__icon {
  fill: #000;
  width: 12px;
  height: 12px;
}

.header__button {
  display: none;
}

/* mobile */
@media screen and (min-width: 480px) {
  .header {
    padding-top: 14px;
  }

  .header__logo__ice {
    width: 48px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 20px;
  }

  .header__buttons__thumb {
    display: flex;
    gap: 32px;
  }

  .header__button {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #f8d24e;
    padding: 12px 36px;
    transition: all var(--animation);
  }

  .header__button:hover,
  .header__button:focus {
    background-color: #0a8817;
  }

  .header__button:focus {
    color: #fff;
  }

  .header__button:focus .header__button__icon {
    fill: #fff;
  }

  .header__button__icon {
    width: 12px;
    height: 12px;
    fill: #000;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 8px;
  }

  .header__logo__ice {
    width: 60px;
    height: 65px;
  }

  .header__nav {
   display: block;
  }

  .header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
  }

  .header__link {
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
    transition: color var(--animation);
  }

  .header__link:hover,
  .header__link:focus {
    color: #f8d24e;
  }

  .header__burger__button {
    display: none;
  }

}