.location {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 280px;
  min-height: 365px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background: #fcfcfc;
  padding: 28px;
  transition: transform var(--animation);
}



.location__title {
  color: #131313;
  text-align: center;
  font-family: 'Seymour One';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.location__image {
  width: 224px;
  height: 199px;
  border-radius: 10px;
  margin-top: 20px;
}

.location__btn {
  width: 134px;
  height: 42px;
  color: #131313;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  background: #f8d24e;
  padding: 12px 34px;
  margin-top: 24px;
  margin-left: 45px;
}

@media screen and (min-width: 768px) {
  .location {
    width: 568px;
    height: 458px;
  }

  .location__title {
    font-size: 20px;
    line-height: 28px; /* 140% */
    margin-top: 4px;
  }

  .location__image {
    width: 448px;
    height: 260px;
    margin-top: 32px;
    margin-left: 32px;
  }

  .location__btn {
    width: 145px;
    font-size: 14px;
    margin-top: 32px;
    margin-left: 183px;
  }
}
