.buynow {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 280px;
  min-height: 991px;
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background: #fcfcfc;
  padding: 28px;
}

.buynow__title {
  color: #000000;
  text-align: center;
  font-family: 'Seymour One';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.buynow__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 83px;
  padding-top: 83px;
  padding-bottom: 31px;
}

.buynow__item {
  position: relative;
  width: 132px;
  height: 136px;
  border-radius: 15px;
  border: 2px solid #96af8c;
  box-shadow: 0px 5.26px 19.726px 0px rgba(212, 20, 67, 0.1);
  transition: background-color var(--animation);
}

.buynow__item:hover {
  background-color: #efd478;
}

.buynow__item-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 132px;
  height: 132px;
}

.buymow__text {
  color: #131313;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  padding: 96px 11px 21px;
}

.buynow__item:nth-child(1) {
  border: 2px solid #96af8c;
}

.buynow__item:nth-child(2) {
  border: 2px solid #efd478;
}

.buynow__item:nth-child(3) {
  border: 2px solid #d6936d;
}

.buynow__form {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  gap: 12px;
}

.buynow__label {
  color: #131313;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%; /* 16.8px */
}

.buynow__input,
.buynow__textarea {
  border-radius: 10px;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
  padding: 8px 12px;
}

.buynow__input {
  width: 224px;
  height: 32px;
}

.buynow__textarea {
  width: 224px;
  height: 65px;
  resize: none;
}

.buynow__btn {
  color: #131313;
  font-family: Montserrat;
  text-align: center;
  font-size: 12px;
  background-color: #f8d24e;
  padding: 12px 34px;
  border-radius: 10px;
  margin-top: 12px;
}

/* tablet-x-desktop */

@media screen and (min-width: 768px) {
  .buynow {
    min-width: 568px;
    min-height: 644px;
    padding: 32px;
  }

  .buynow__title {
    color: #131313;
    font-size: 20px;
    line-height: 28px; /* 140% */
  }

  .buynow__list {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding-top: 103px;
    padding-bottom: 40px;
  }

  .buynow__item {
    width: 132px;
    height: 135px;
  }

  .buynow__form {
    gap: 16px;
  }

  .buynow__label {
    font-size: 14px;
  }

  .buynow__input,
  .buynow__textarea {
    padding: 11px 16px;
  }

  .buynow__input {
    width: 368px;
    height: 42px;
  }

  .buynow__textarea {
    width: 368px;
    height: 84px;
  }

  .buynow__btn {
    font-size: 14px;
    margin-top: 16px;
  }
}
