<section class="comment">
    <div class="container">
        <ul class="comment__list">
            <li>
                <img class="comment__img-avatar" srcset="/img/comment/brooke_lark_icecream.jpg 1x, /img/comment/brooke_lark_icecream@2x.png 2x" src="#" alt="ice-cream">
                <p class="comment__text">
                    I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                 <p class="comment__text"></p>       
                </li>
        </ul>
    </div>
</section>