<section class="comment">    
    <div class="swiper">
        <ul class="comment__list swiper-wrapper">
            <li class="comment__item swiper-slide">
                <img class="comment__img"
                    srcset="/img/comment/brooke_lark_icecream.jpg 1x, /img/comment/brooke_lark_icecream@2x.jpg 2x"
                    src="#" alt="ice-cream">
                <img class="comment__img-avatar"
                    srcset="/img/comment/avatar/emily.jpg 1x, /img/comment/avatar/emily@2x.jpg 2x" src="#" alt="avatar">

                <p class="comment__text">
                    I love visiting your cafe.
                    You prepare the most delicious ice cream in Los Angeles!
                    In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
                <p class="comment__location-text">Emily, Los Angeles</p>
            </li>
            <li class="comment__item swiper-slide">
            <img class="comment__img"
                srcset="/img/comment/courtney_cook_icecream.jpg 1x, /img/comment/courtney_cook_icecream@2x.jpg 2x"
                src="#" alt="ice-cream">
            <img class="comment__img-avatar"
                srcset="/img/comment/avatar/bryan.jpg 1x, /img/comment/avatar/bryan@2x.jpg 2x" src="#" alt="avatar">

            <p class="comment__text">
                Every day we come to you with friends after classes in college. We love your ice cream and casual
                atmosphere!

            </p>
            <p class="comment__location-text">Bryan, New-York</p>
            </li>
            <li class="comment__item swiper-slide">
                <img class="comment__img"
                    srcset="/img/comment/unsplash_icecream.jpg 1x, /img/comment/unsplash_icecream@2x.jpg 2x" src="#"
                    alt="ice-cream">
                <img class="comment__img-avatar"
                    srcset="/img/comment/avatar/diana.jpg 1x, /img/comment/avatar/diana@2x.jpg 2x" src="#" alt="avatar">

                <p class="comment__text">
                    Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!


                </p>
                <p class="comment__location-text">Diana, Chicago</p>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</section>