
<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item">
                <h2 class="title">CAFE</h2>
                <h2 class="location">Chicago</h2>
                <p class="exact_location">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</p>
                <h2 class="days">Monday - Friday</h2>
                <p class="time">06:00 AM - 10:00 PM</p>
                <h2 class="days">Saturday - Sunday</h2>
                <p class="time">08:00 AM - 16:00 PM</p>
                <a class="footer__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="footer__link" href="mailto:">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <h2 class="title">FOODTRUCK</h2>
                <h2 class="location">Los Angeles</h2>
                <p class="exact_location">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</p>
                <h2 class="days">Monday - Friday</h2>
                <p class="time">06:00 AM - 10:00 PM</p>
                <h2 class="days">Saturday - Sunday</h2>
                <p class="time">08:00 AM - 16:00 PM</p>
                <a class="footer__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="footer__link" href="mailto:">noreply@envato.com</a>
            </li>
        </ul>
        <ul class="footer__list">
            <li class="footer__item">
                <h2 class="title">CAFE</h2>
                <h2 class="location">New York</h2>
                <p class="exact_location">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
                <h2 class="days">Monday - Friday</h2>
                <p class="time">06:00 AM - 10:00 PM</p>
                <h2 class="days">Saturday - Sunday</h2>
                <p class="time">08:00 AM - 16:00 PM</p>
                <a class="footer__link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="footer__link" href="mailto:">noreply@envato.com</a>
            </li>
        </ul>
        <button type="button" class="our__location">Our Locations ></button>
        <button type="button" class="franchise">Franchise ></button>
        <h2 class="homemade">HOMEMADE ICE CREAM MADE</h2>
        <h1 class="passion">WITH PASSION</h1>
        <ul class="footer__icons-list">
            <li class="footer__icons-item">
                <a href="" class="footer__icons-link">
                    <svg class="svg__icons">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="footer__icons-item">
                <a href="" class="footer__icons-link">
                    <svg class="svg__icons">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
            <li class="footer__icons-item">
                <a href="" class="footer__icons-link">
                    <svg class="svg__icons">
                        <use href=""></use>
                    </svg>
                </a>
            </li>
        </ul>
        <p class="contact">Feel free to contact <span class="footer__colored">+61 (0) 383 766 284</span></p>
        <p class="reserved">© 2022 - IceCream.
            All Rights Reserved. </p>
    </div>
</footer>
