<div class="backdrop is-hidden" id="franchise-modal">
  <div class="franchise-modal">
    <button class="modal__button-close close-button">
      <svg class="modal__button-close__icon">
        <use href="/img/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="franchise__title">
      Thank you for your interest in owning an Ice Cream shop
    </h3>
    <p class="franchise__text">Due to the overwhelming volume of franchise requests we are not accepting new
      franchisee applications at this time. Once the application process resumes, we will contact you for further
      information. Please fill out the contact information below and we will reach out for additional information.
      We appreciate your patience.</p>
    <form class="franchise__form">
      <input class="franchise__input" type="text" name="text" id="user__name" placeholder="Name" />
      <input class="franchise__input" type="tel" name="tel" id="user__phone" placeholder="Phone" />
      <input class="franchise__input" type="email" name="email" id="user__email" placeholder="Email" />
      <textarea name="comment" class="franchise__textarea" type="text" placeholder="Comment" ></textarea>
      <button type="submit" class="franchise__button">Submit</button> 
    </form>
  </div>
</div>