<header class="header">
    <div class="container">
        <a class="header__logo" href="">x</a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">Home</li>
                <li class="header__item">How it’s made?</li>
                <li class="header__item">Our products</li>
                <li class="header__item">Contact</li>
            </ul>
        </nav>
        <button class="header__button" type="button">Buy now
            <svg class="header__button__icon">
                <use href="../../src/"></use>
            </svg>
        </button>
        
    </div>
</header>