<!-- <div class="backdrop"> -->
<div class="backdrop is-hidden">
  <div class="products-modal">
    <h3 class="products-modal__title">Chololate icecream</h3>
    <img
      src="#"
      srcset="
        /img/products/mini-icecream.png    1x,
        /img/products/mini-icecream@2x.png 2x
      "
      alt="icecream"
      class="products-modal__icecream-img"
    />
    <ul class="products-modal__list-vitamins-name">
      <li class="products-modal__item-name">
        <p class="products-modal__text-number">320</p>
        <p class="products-modal__text-name">kcal</p>
      </li>
      <li class="products-modal__item-name">
        <p class="products-modal__text-number">4g</p>
        <p class="products-modal__text-name">Prote...</p>
      </li>
      <li class="products-modal__item-name">
        <p class="products-modal__text-number">8,2g</p>
        <p class="products-modal__text-name">Fats</p>
      </li>
      <li class="products-modal__item-name">
        <p class="products-modal__text-number">40,4g</p>
        <p class="products-modal__text-name">Carbs</p>
      </li>
    </ul>
    <h4 class="products-modal__subtext">Ingredients</h4>
    <ul class="products-modal__list-ingredients">
      <li class="products-modal__item-ingredients">
        <p class="products-modal__text-ingredients">Milk</p>
        <p class="products-modal__text-ingredients">100ml</p>
      </li>
      <li class="products-modal__item-ingredients">
        <p class="products-modal__text-ingredients">Belgian chocolate</p>
        <p class="products-modal__text-ingredients">20g</p>
      </li>
      <li class="products-modal__item-ingredients">
        <p class="products-modal__text-ingredients">Cream</p>
        <p class="products-modal__text-ingredients">150 ml</p>
      </li>
      <li class="products-modal__item-ingredients">
        <p class="products-modal__text-ingredients">Cocoa powder</p>
        <p class="products-modal__text-ingredients">30g</p>
      </li>
      <li class="products-modal__item-ingredients">
        <p class="products-modal__text-ingredients">Sugar</p>
        <p class="products-modal__text-ingredients">40g</p>
      </li>
      <li class="products-modal__item-ingredients">
        <p class="products-modal__text-ingredients">Vanilla sugar</p>
        <p class="products-modal__text-ingredients">10g</p>
      </li>
    </ul>
    <form class="products__modal-form" action="">
      <input class="products__modal-input" type="name" placeholder="Name" />
      <input class="products__modal-input" type="tell" placeholder="Phone" />
      <textarea
        class="products__modal-comment"
        name=""
        placeholder="Comment"
        id=""
      ></textarea>
      <button class="products__modal-button" type="submit">Submit</button>
    </form>
  </div>
  <!-- </div> -->
</div>
