<h1 class="products__name">Chololate icecream</h1>
<div class="container">
  <picture>
    <source
      srcset="
        ../img/products/mini-icecream.jpg    1x,
        ../img/products/mini-icecream@2x.jpg 2x
      "
      href="#"
    />
    <img src="#" alt="icecream" class="products__icecream-img" />
  </picture>
</div>
<div class="products__vitamins">
  <ul class="products__list-vitamins-name">
    <li class="products__item-name">
      <h2 class="products__text-number">320</h2>
      <p class="products__text-name">kcal</p>
    </li>
  </ul>
  <ul class="products__list-vitamins-name">
    <li class="products__item-name">
      <h2 class="products__text-number">4g</h2>
      <p class="products__text-name">Protein...</p>
    </li>
  </ul>
  <ul class="products__list-vitamins-name">
    <li class="products__item-name">
      <h2 class="products__text-number">8,2g</h2>
      <p class="products__text-name">Fats</p>
    </li>
  </ul>
  <ul class="products__list-vitamins-name">
    <li class="products__item-name">
      <h2 class="products__text-number">40,4g</h2>
      <p class="products__text-name">Carbs</p>
    </li>
  </ul>
</div>
<h2 class="products__subtext">Ingredients</h2>
<div class="products__ingredients">
  <ul class="products__list-ingredients">
    <li class="products__item-ingredients">
      <p class="products__text-ingredients">Milk 100ml</p>
    </li>
  </ul>
  <ul class="products__list-ingredients">
    <li class="products__item-ingredients">
      <p class="products__text-ingredients">Belgian chocolate 20g</p>
    </li>
  </ul>
  <ul class="products__list-ingredients">
    <li class="products__item-ingredients">
      <p class="products__text-ingredients">Cream 150 ml</p>
    </li>
  </ul>
  <ul class="products__list-ingredients">
    <li class="products__item-ingredients">
      <p class="products__text-ingredients">Cocoa powder 30g</p>
    </li>
  </ul>
  <ul class="products__list-ingredients">
    <li class="products__item-ingredients">
      <p class="products__text-ingredients">Sugar 40g</p>
    </li>
  </ul>
  <ul class="products__list-ingredients">
    <li class="products__item-ingredients">
      <p class="products__text-ingredients">Vanilla sugar 10g</p>
    </li>
  </ul>
</div>
