<div class="backdrop">
    <div class="location">
        <h3 class="location__title">
            Our Locations
        </h3>
        <iframe class="location__image"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15859.930696572794!2d0.015110931940692726!3d39.976725997858225!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x129ffff51727a649%3A0x1611b1220af3dc85!2sParque%20Del%20Pinar!5e0!3m2!1sru!2sua!4v1735145178856!5m2!1sru!2sua"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <button type="button" class="location__btn">Open map</button>
    </div>
</div>