<div class="backdrop is-hidden" id="location-modal">
    <div class="location">
        <button class="modal__button-close close-button">
            <svg class="modal__button-close__icon">
              <use href="/img/icons/sprite.svg#icon-close"></use>
            </svg>
          </button>
        <h3 class="location__title">
            Our Locations
        </h3>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d192.39746763195893!2d-0.32182983729702774!3d39.506375594548395!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6047c09ec517e1%3A0xbbddba1c105b5382!2sPlatja%20Port%20Saplatja!5e0!3m2!1sru!2sua!4v1736356268980!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <button type="button" class="location__btn">Open map</button>
    </div>
</div>