<section class="tradisions">
  <div class="container">
    <h3 class="tradisions__title">tradition and love</h3>
    <h2 class="tradisions__text">how it’s made?</h2>
    <img class="tradisions__img" src="../img/tradisions/michael-martinelli-_nLlvmclDkc-unsplash 1.png" alt="" />
    <p class="tradisions__first__text">
      Ice is a place where you will become not only a little happier, but also
      healthier. Health is the main value for us, and we follow it when creating
      our handmade desserts.
    </p>
    <p class="tradisions__second__text">
      We use traditional recipes and 100% natural ingredients. Our products are
      so natural that they can be given to children from the age of three years.
      Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23
      milkshakes.
    </p>
    <button class="tradisions__button">Read more
      <svg class="achievements__button__svg">
        <use class="achievements__item__icon" href="/img/icons/symbol-defs.svg#icon-ep_arrow-right-bold"></use>
    </svg>
    </button>
    <ul class="tradisions__achievements__list">
      <li class="achievements__item">
        <svg class="achievements__item__svg">
          <use href="/img/icons/symbol-defs.svg#icon-cow"></use>
        </svg>
        <h3 class="achievements__item__title">721</h3>
        <p class="achievements__item__text">  Aliquam ac dui vel dui vulputate consectetur. Mauris mass</p>
      </li>
      <li class="achievements__item">
        <svg class="achievements__item__svg">
          <use href="/img/icons/symbol-defs.svg#icon-weight"></use>
        </svg>
        <h3 class="achievements__item__title">16kg</h3>
        <p class="achievements__item__text" >Aliquam ac dui vel dui vulputate consectetur. Mauris massa</p>
      </li>
      <li class="achievements__item">
        <svg class="achievements__item__svg">
          <use href="/img/icons/symbol-defs.svg#icon-ice-crema"></use>
        </svg>
        <h3 class="achievements__item__title">84</h3>
        <p class="achievements__item__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa</p>
      </li>
    </ul>
  </div>
</section>
